Theoratical Questions:
-------------------------
1. What are data structures and why are they important?
->  Python has 4 inbuilt data structures List, Tuple, Set and Dictionaries. They are imporant to assign values to objects. Data Structures are a way of organizing data so that it can be accessed more efficiently depending upon the situation.

2. Explain the difference between mutable and immutable data types with examples.
-> Mutable data types (like lists, dictionaries) can be changed after creation, while immutable data types (like strings, tuples) cannot be altered once defined.

#Tuple
tuple1 = (0, 1, 2, 3)
tuple1[0] = 4
print(tuple1)
# It will throw error as we can't change Tuple values.

#List

x = ["apple", "banana", "cherry"]
x[1]="Kiwi"
print(x)
     
['apple', 'Kiwi', 'cherry']

3. What are main difference between tuples and lists in Python.
-> List is mutable data types and values can be changed after creation, while tuple is immutable data typeand values cannot be altered once defined.

4. Describe how python dictionary stores data.
-> Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered, changeable and do not allow duplicates.

5. Why you might use set instead of list in python
Because sets cannot have multiple occurrences of the same element, it makes sets highly useful to efficiently remove duplicate values from a list or tuple and to perform common math operations like unions and intersections.

myset = {"apple", "banana","banana", "cherry"}
print(myset)

output {'apple', 'cherry', 'banana'}

6. What is a string in Python, and how is it different from a list.

A string is a sequence of characters between single or double quotes. A list is a sequence of items, where each item could be anything (an integer, a float, a string, etc).

Both strings and lists have lengths: a string's length is the number of characters in the string; a list's length is the number of items in the list.

7. How do tuples ensure data integrity in Python

> Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability. This immutability allows tuples to be used as keys in dictionaries and elements in sets, as they can be hashed

8. What is a hash table, and how does it relate to dictionaries in Python?
> In general, hash tables store key-value pairs and the key is generated using a hash function. Hash tables or has maps in Python are implemented through the built-in dictionary data type. The keys of a dictionary in Python are generated by a hashing function.

9. Can lists contain different data types in Python?
> a list can also contain a mix of Python types including strings, floats, and booleans.

10. Explain why strings are immutable in Python.
> Strings in Python are “immutable” which means they can not be changed after they are created. The immutability of Python string is very useful as it helps in hashing, performance optimization, safety, ease of use, etc.

11. What advantages do dictionaries offer over lists for certain tasks?
> Dictionaries are ideal for tasks requiring quick lookups, data mappings, and key-value associations. Lists are suitable for ordered collections, sequential processing, and scenarios where the order of elements matters.

12.  Describe a scenario where using a tuple would be preferable over a list.
> Use a tuple if you need an immutable collection where the elements won't change after creation. Tuples are generally faster and more memory-efficient than lists, making them better for fixed collections, especially as dictionary keys or when iteration speed is important.

13.  How do sets handle duplicate values in Python?
> Sets do not allow duplicate items, they are unordered, and the items stored in them cannot be modified.

14. How does the “in” keyword work differently for lists and dictionaries?

> The in operator for dictionaries (dict) checks for the presence of a key. It uses an algorithm called a hashtable that has a remarkable property: the in operator takes about the same amount of time no matter how many items there are in a dictionary.

For lists, it uses a search algorithm. As the list gets longer, the search time gets longer in direct proportion.

15. Can you modify the elements of a tuple? Explain why or why not?
> Tuple elements can't be changed after assignment because tuple is immutable in nature. Python will throw error if we try to change or add/remove values after creating.

16. What is a nested dictionary, and give an example of its use case?
> In Python, a nested dictionary is a dictionary inside a dictionary. It's a collection of dictionaries into one single dictionary. Here, the nested_dict is a nested dictionary with the dictionary dictA and dictB . They are two dictionary each having own key and value

people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

print(people)

17. Describe the time complexity of accessing elements in a dictionary.
> The time complexity of dictionary operations in Python depends on the size of the dictionary and the specific operation being performed. Here’s a summary of the time complexity of some common dictionary operations:

Accessing a value by key: O(1) on average, O(n) worst case if there are many collisions
Adding a key-value pair: O(1) on average, O(n) worst case if the dictionary needs to be resized
Modifying a value by key: O(1) on average, O(n) worst case if there are many collisions
Removing a key-value pair by key: O(1) on average, O(n) worst case if there are many collisions
Iterating over the keys, values, or items: O(n), where n is the number of key-value pairs in the dictionary.

18.  In what situations are lists preferred over dictionaries?
>  If you need an ordered collection, like a sequence of user actions, lists are your go-to. On the other hand, when you need quick look-ups, like mapping usernames to user data, dictionaries are invaluable.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
As of Python 3.7, dictionaries maintain the insertion order of keys. This means that when you iterate over a dictionary, the keys will be returned in the order they were added. However, prior to Python 3.7, dictionaries were considered unordered, meaning that the order of keys was not guaranteed.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
> List is a data structure in python that refers to the collection of index value pair whereas dictionaries are the data structures that refer to the hashed structure of various pairs like key-value pairs. Lists are used to store the data, which should be ordered and sequential.

In [1]:
# Practical Questions

#1. Write a code to create a string with your name and print it.
my_name='Bithal Agrawal'
print(my_name)

Bithal Agrawal

In [3]:
#2. Write a code to find the length of the string "Hello World".
my_string="Hello World"
print(len(my_string))

11

In [4]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".
my_string="Python Programming"
print(my_string[0:3])

Pyt

In [5]:
#4. Write a code to convert the string "hello" to uppercase.
my_string="hello"
print(my_string.upper())

HELLO

In [7]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

my_string="I like apple"
print(my_string.replace("apple","orange"))

I like orange

In [8]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
my_list=[1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [9]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
my_list=[1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [10]:
#8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
my_list=[1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [11]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
my_list=['a','b','c','d']
print(my_list[1])

b

In [12]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50]
my_list=[10,20,30,40,50]
my_list.reverse()
print(my_list)
#

[50, 40, 30, 20, 10]

In [15]:
#11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

my_tuple=(10,20,30)
print(my_tuple)

(10, 20, 30)

In [16]:
#12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')

my_tuple=('apple','banana','cherry')
print(my_tuple[0])

apple

In [18]:
#13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

my_tuple=(1,2,3,2,4,2)
print(my_tuple.count(2))

3

In [19]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

my_tuple=('dog','cat','rabbit')
print(my_tuple.index('cat'))

1

In [20]:
#15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
my_tuple=('apple','orange','banana')
print('banana' in my_tuple)

True

In [21]:
#16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
my_set={1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [22]:
#17. Write a code to add the element 6 to the set {1, 2, 3, 4}.
my_set={1,2,3,4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

In [23]:
#18. Write a code to create a tuple with the elements 10, 20, 30 and print it.
my_tuple=(10,20,30)
print(my_tuple)

(10, 20, 30)

In [24]:
#19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')

my_tuple=('apple','banana','cherry')
print(my_tuple[0])

apple

In [25]:
#20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

my_tuple=(1,2,3,2,4,2)
print(my_tuple.count(2))

3

In [26]:
#21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

my_tuple=('dog','cat','rabbit')
print(my_tuple.index('cat'))

1

In [27]:
#22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
my_tuple=('apple','orange','banana')
print('banana' in my_tuple)

True

In [28]:
#23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
my_set={1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [29]:
#24. Write a code to add the element 6 to the set {1, 2, 3, 4}.
my_set={1,2,3,4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}